
<link rel="stylesheet" href="/css/user_profile.css">

<h1>
    Codeial / Profile Page
</h1>
<p>Name: <%= user%></p>
<p>Email: <%= email%></p>

<a href="/users/sign-out">
    <button type="button">Sign-Out</button>
</a>