#main-container{
    display: flex;
}
#friend-list{
    display: flex;
    flex-direction: column;
    align-items: start;
    border-left: 1px solid lightgrey;
    padding: 0px 3rem;
    line-height: 0%;
}
#friend-list a{
    text-decoration: none;
    color: lightseagreen;
}

#post-list-container{
    display: flex;
    text-align: center;
    justify-content: center;
}
ol{
    padding: 0rem 25rem;
    li{
        border: 2px solid black;
        margin: 3px;
    }
}