#main-container{
    display: flex;
}
#friend-list{
    border-left: 2px solid lightgrey;
    padding: 0px 3rem;
}

#post-list-container{
    display: flex;
    text-align: center;
    justify-content: center;
}
ol{
    padding: 0rem 25rem;
    li{
        border: 2px solid black;
        margin: 3px;
    }
}